.page {
    --background: #fafafa;
    --foreground: #fff;

    --text-primary: #000;
    --text-secondary: #666;

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --button-secondary-border: #ebebeb;

    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: var(--background);

    h5 {
        /* ART DEALER */
        font-style: normal;
        font-weight: 400;
        font-size: 96px;
        line-height: 122px;
        text-align: center;
        color: #FFFFFF;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }
}


@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }

    .page {
        --background: #000;
        --foreground: #000;

        --text-primary: #ededed;
        --text-secondary: #999;

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
        --button-secondary-border: #1a1a1a;
    }
}


@media (max-width: 600px) {
    .page {
        h5 {
            font-size: 64px;
            font-weight: 400;
            line-height: 82px;
        }
    }
}