.page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 6em 2em;

    h5 {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 61px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    hr {
        height: 100px;
        border: none;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }
}


@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }

    .page {
        --background: #000;
        --foreground: #000;

        --text-primary: #ededed;
        --text-secondary: #999;

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
        --button-secondary-border: #1a1a1a;
    }
}


@media (max-width: 768px) {
    .page {
        padding: 6em 4em;
        h5 {
            font-size: 4.1667vw;
            line-height: 5.3385vw;
            margin-bottom: 3.2552vw;
        }
    }
}