header.header {
    padding: 114px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .logo {
        margin-bottom: 54px;
        img {
            max-width: 181px;
            height: auto;
        }
    }

    ul.nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;

        li {
            a {
                font-size: 24px;
                line-height: 31px;
                text-align: center;

                color: #FFF4F4;
            }
        }
    }


}

@media (max-width: 768px) {
    header.header {
        padding: 14.8438vw 0 0;

        > .logo {
            margin-bottom: 7.0313vw;
            img {
                max-width: 181px;
                width: 23.5677vw;
            }
        }

        ul.nav {
            li {
                a {
                    font-size: 3.1250vw;
                    line-height: 4.0365vw;
                }
            }
        }
    }
}