div.NoSignal {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
        /* NO SIGNAL */
        font-style: normal;
        font-weight: 400;
        font-size: 96px;
        line-height: 122px;
        text-align: center;
        color: #FFFFFF;
    }

}

/* NO SIGNAL */


@media (max-width: 768px) {
    div.NoSignal {
        h5 {
            font-size: 8.3333vw;
            line-height: 10.6771vw;
        }
    }
}

